body {
    text-align: center;
}

p {
    font-size: 7.em;
}

h2 {
    font-weight: bolder;
}

a {
    color: black;
}

.input_out {
    background: whitesmoke;
    color: black;
}

#images input {
    width: 135px;
}

#settingsboxinput {
  text-align: center;
  padding: 20px 30px;
}

#setting_head {
    font-weight: bolder;
    font-size: large;
}

#setting_btn {
    margin-top: 10px;
}

#default_setting_btn {
    margin-top: 10%;
}

#dialog{
    position: fixed;
    border: 1px solid black;
    background-color: whitesmoke;
    top: 50%;
    left: auto;
    width: 200px;
    height: auto;
    text-align: center;
    display: none;
}

#message{
    font-size: large;
    color: red;
}

#dialog button{
    color: white;
    position: relative;
    background: blue;
    /* font:white; */
    right: -77px;
    bottom: 0;
}

::-webkit-scrollbar {
width: 0px;
display: none;
}